# Environment
.env
.env.*
!.env.example

# Dependencies
/vendor

# OS
.DS_Store

# Laravel bootstrap
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Laravel storage
/storage/logs/*
!/storage/logs/.gitkeep

/storage/framework/cache/*
!/storage/framework/cache/data/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

/storage/framework/testing/*
!/storage/framework/testing/.gitkeep

/storage/framework/views/*
!/storage/framework/views/.gitkeep

/storage/app/*
!/storage/app/private/
!/storage/app/public/
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/app/public/*
!/storage/app/public/.gitkeep

# Public
/public/storage

# Testing
/.phpunit.cache
