*.class
/stage/*
/stage-archive/*
target/
*.zip
*/.DS_Store
*.html
.DS_Store
build/
dist/
*.egg-info/
/docs/build/
__pycache__/
*.swp
.DS_Store
~*
*~
~$*
.vscode/
*.swp
/course_scripts/raw-*
/course_scripts/*.class